@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.gg-font {
  font-family: 'Fredoka One', cursive;
}

.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #DA70D6, 0 0 40px 	#DA70D6, 0 0 50px 	#DA70D6, 0 0 60px 	#DA70D6, 0 0 70px 	#DA70D6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #5D3FD3, 0 0 50px #5D3FD3, 0 0 60px #5D3FD3, 0 0 70px #5D3FD3, 0 0 80px #5D3FD3;
  }
}